@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Old+Standard+TT:wght@400;700&display=swap");
body {
  font-size: 21px;
  font-family: "Nunito", sans-serif;
}

img {
  max-width: 100%;
}
h2,
h3,
h4 {
  font-family: "Old Standard TT", serif;
}
section.holding-page {
  .row {
    height: 100vh;
  }

  .main-image {
    background-size: cover;
    background-position: center;
    @media (max-width: 991px) {
      padding: 30%;
      order: 2;
    }
  }

  .col-content {
    .column-holder {
      max-width: 756px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

h2 {
  font-size: 56px;
}
.form-box {
  h3 {
    color: #e31f71;
  }
}
.fsBody.fsBody {
  .fsSection {
    min-width: 0;
    font-size: 14px;
  }
  .fsForm.fsForm {
    border: none;
    box-shadow: none;
    .fsRow {
      display: flex;
      display: flex;
      justify-content: space-between;
      margin-left: -8px;
      margin-right: -8px;
      .fsRowBody {
        padding: 8px;
        float: none;
        &.fsSpan50 {
          width: 50%;
        }
        &.fsSpan25 {
          width: 25%;
        }
      }
      .fsLabel {
        line-height: inherit;
        font-size: inherit;
      }
      .legend {
        margin-bottom: 10px;
      }
      input[type="email"],
      input[type="number"],
      input[type="tel"],
      input[type="text"],
      .fsForm textarea {
        width: 100%;
        max-width: 100%;
        background-color: #f6f6f7;
        border: 1px solid#F3F3F3;
        padding: 10px 15px;
        border-radius: 10px;
      }
      .fs-clear {
        display: none;
      }
    }
  }
}
