@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Old+Standard+TT:wght@400;700&display=swap");
body {
  font-family: "Nunito", sans-serif;
}

img {
  max-width: 100%;
}
h2,
h3,
h4 {
  font-family: "Old Standard TT", serif;
}
section.holding-page {
  .row {
    height: 100vh;
  }
  .image-box {
    img {
      max-width: 400px;
    }
  }

  .main-image {
    background-size: cover;
    background-position: center;
    @media (max-width: 991px) {
      padding: 30%;
      order: 2;
    }
  }

  .col-content {
    .column-holder {
      max-width: 740px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

h2 {
  font-size: 56px;
}
.form-box {
  h3 {
    color: #e31f71;
  }
  .privacy {
    font-size: 12px;
    text-align: center;
    span {
      color: #e31f71;
    }
  }
}
.fsBody.fsBody {
  .fsSection {
    min-width: 0;
    font-size: 14px;
  }

  .fsForm.fsForm {
    border: none;
    box-shadow: none;
    .fsSubmit {
      margin-top: 0;
      margin-bottom: 10px;
      padding-bottom: 0;
      padding-top: 0;
      .fsSubmitButton {
        background-color: #e4337e;
        padding: 15px;
        color: #fff;
        font-size: 20px;
        border: 1px solid #f3f3f3;
        border-radius: 7px;
        max-width: 480px;
        width: 100%;
      }
    }
    .fsRow {
      display: flex;
      display: flex;
      justify-content: space-between;
      margin-left: -8px;
      margin-right: -8px;
      .fsRowBody {
        padding: 8px;
        float: none;
        &.fsSpan50 {
          width: 50%;
        }
        &.fsSpan25 {
          width: 25%;
        }
      }
      .fieldset-content {
        .fsOptionLabel {
          font-size: 0;
          margin-right: 10px;
          margin-bottom: 10px;

          line-height: 1;

          input {
            display: none;
            &:checked {
              color: #fff;
              & + span {
                background-color: #e4337e;
                color: #fff;
              }
            }
          }
          span {
            background-color: #ffe8f2;
            cursor: pointer;
            padding: 10px 16px;
            border-radius: 4px;
            position: relative;
            overflow: hidden;
            font-size: 15px;
            display: inline-block;
          }
        }
      }
      .fsLabel {
        line-height: inherit;
        font-size: inherit;
      }
      legend {
        margin-bottom: 10px;
      }
      input[type="email"],
      input[type="number"],
      input[type="tel"],
      input[type="text"],
      .fsForm textarea {
        width: 100%;
        max-width: 100%;
        background-color: #f6f6f7;
        border: 1px solid#F3F3F3;
        padding: 10px 15px;
        border-radius: 10px;
      }
      .fs-clear {
        display: none;
      }
    }
  }
}
