@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Old+Standard+TT:wght@400;700&display=swap");
body {
  font-size: 21px;
  font-family: "Nunito", sans-serif; }

img {
  max-width: 100%; }

h2,
h3,
h4 {
  font-family: "Old Standard TT", serif; }

section.holding-page .row {
  height: 100vh; }
section.holding-page .main-image {
  background-size: cover;
  background-position: center; }
  @media (max-width: 991px) {
    section.holding-page .main-image {
      padding: 30%;
      order: 2; } }
section.holding-page .col-content .column-holder {
  max-width: 756px;
  margin-left: auto;
  margin-right: auto; }

h2 {
  font-size: 56px; }

.form-box h3 {
  color: #e31f71; }

.fsBody.fsBody .fsSection {
  min-width: 0;
  font-size: 14px; }
.fsBody.fsBody .fsForm.fsForm {
  border: none;
  box-shadow: none; }
  .fsBody.fsBody .fsForm.fsForm .fsSubmitButton {
    background-color: #e4337e;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #f3f3f3;
    border-radius: 7px;
    max-width: 480px;
    width: 100%; }
  .fsBody.fsBody .fsForm.fsForm .fsRow {
    display: flex;
    display: flex;
    justify-content: space-between;
    margin-left: -8px;
    margin-right: -8px; }
    .fsBody.fsBody .fsForm.fsForm .fsRow .fsRowBody {
      padding: 8px;
      float: none; }
      .fsBody.fsBody .fsForm.fsForm .fsRow .fsRowBody.fsSpan50 {
        width: 50%; }
      .fsBody.fsBody .fsForm.fsForm .fsRow .fsRowBody.fsSpan25 {
        width: 25%; }
    .fsBody.fsBody .fsForm.fsForm .fsRow .fieldset-content .fsOptionLabel {
      font-size: 0;
      margin-right: 10px;
      margin-bottom: 10px;
      line-height: 1; }
      .fsBody.fsBody .fsForm.fsForm .fsRow .fieldset-content .fsOptionLabel input {
        display: none; }
        .fsBody.fsBody .fsForm.fsForm .fsRow .fieldset-content .fsOptionLabel input:checked {
          color: #fff; }
          .fsBody.fsBody .fsForm.fsForm .fsRow .fieldset-content .fsOptionLabel input:checked + span {
            background-color: #e4337e;
            color: #fff; }
      .fsBody.fsBody .fsForm.fsForm .fsRow .fieldset-content .fsOptionLabel span {
        background-color: #ffe8f2;
        cursor: pointer;
        padding: 10px 16px;
        border-radius: 4px;
        position: relative;
        overflow: hidden;
        font-size: 15px;
        display: inline-block; }
    .fsBody.fsBody .fsForm.fsForm .fsRow .fsLabel {
      line-height: inherit;
      font-size: inherit; }
    .fsBody.fsBody .fsForm.fsForm .fsRow legend {
      margin-bottom: 10px; }
    .fsBody.fsBody .fsForm.fsForm .fsRow input[type="email"],
    .fsBody.fsBody .fsForm.fsForm .fsRow input[type="number"],
    .fsBody.fsBody .fsForm.fsForm .fsRow input[type="tel"],
    .fsBody.fsBody .fsForm.fsForm .fsRow input[type="text"],
    .fsBody.fsBody .fsForm.fsForm .fsRow .fsForm textarea {
      width: 100%;
      max-width: 100%;
      background-color: #f6f6f7;
      border: 1px solid #F3F3F3;
      padding: 10px 15px;
      border-radius: 10px; }
    .fsBody.fsBody .fsForm.fsForm .fsRow .fs-clear {
      display: none; }

/*# sourceMappingURL=style.css.map */
